cpu.*
cuda.*
.vscode/**
test/**
build
program.cpp
**.exe
mnist.cpp
**.lib
**.exp
**.pdb
**.txt
**.o
mnist
.gitignore
helper/**
!helper/randomNN.py
!helper/server/index.html
!helper/server/style.css
!helper/server/app.js
!helper/server/server.c
!helper/server/handle.c
!helper/server/handle.h
# TO-DO: 
#   1- make testing program (a way to measure error of the system)
#   2-make webpage to test the trained neural network on 28*28 pixels canvas