cpu.*
cuda.*
.vscode/**
test/**
build
program.cpp
**.exe
mnist.cpp
**.lib
**.exp
**.pdb
**.txt
**.o
mnist
.gitignore
helper/**
!helper/randomNN.py

# TO-DO: 
#   1- make testing program (a way to measure error of the system)
